<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/aws.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/azure.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/terraform.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/node.png" class="img-responsive img-centered" alt="">
            </div> 
        </div>
    </div>
</aside>
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/mssql.png" class="img-responsive img-centered" alt="">
            </div>                  
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/mysql.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/dotnetcore.jpg" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/graphql.png" class="img-responsive img-centered" alt="">
            </div>  
        </div>
    </div>
</aside>
<aside>
    <div class="container">
        We like to blog a lot about recent tech we have used, here is some more information:
        <br />
        <object style="text-align: center; overflow:auto; width:100%; height:50vw" data="https://craig.goddenpayne.co.uk" type="text/html">
        </object>
    </div>
</aside>