<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/aws.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/azure.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/terraform.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/node.png" class="img-responsive img-centered" alt="">
            </div> 
        </div>
    </div>
</aside>
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/mssql.png" class="img-responsive img-centered" alt="">
            </div>                  
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/mysql.png" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/dotnetcore.jpg" class="img-responsive img-centered" alt="">
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="img/logos/graphql.png" class="img-responsive img-centered" alt="">
            </div>  
        </div>
    </div>
</aside>
