<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">We are very busy people, but always make every effort to answer any queries you have</h3>
                    <a href="mailto:craig@beardy.digital">craig@beardy.digital</a>
                    <br />
                    <a href="https://beardy.digital">Beardy Digital Ltd</a>
                    <br/>
                    <a href="https://beta.companieshouse.gov.uk/company/12110036">Company Number: 12110036</a>
                    <br />
                    <a href="http://ec.europa.eu/taxation_customs/vies/vieshome.do">VAT Number: GB 329627281</a>
                    <br/>
                    <a>
                        <span>Registered Office Address:</span><br/>
                        <span>First Floor, Telecom House</span><br/>
                        <span>125-135 Preston Road</span><br/>
                        <span>Brighton</span><br/>
                        <span>East Sussex</span><br/>
                        <span>BN1 6AF</span><br/>
                        <span>United Kingdom</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
