<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">What services do we offer</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Software Engineering</h4>
                    <p class="text-muted">We specialise in most modern languages and frameworks. The core experience we have is within the microsoft stack, .Net Framework and .Net Core. We also specialise in NodeJs and front facing frameworks, such as React</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cloud Migration</h4>
                    <p class="text-muted">We specialise in migrating on premise infrastructure and monolith architectures into more manageable and scalable micro service archtectures, hosting within AWS and Azure using best practice toolkits and frameworks</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Developer Operations</h4>
                    <p class="text-muted">We specialise in Infrastructure as code, using modern frameworks to automate deployments and increase the time to live. We specialise in terradform and cloud formation to make sure that deployment changes are tracked and automated wherever possible</p>
                </div>
            </div>
        </div>
    </section>